<!DOCTYPE html>

<html lang="{% block lang %}{% endblock lang %}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  {% block desc %}{% endblock desc %}
  <title>{% block title %}{% endblock title %}</title>
  <link rel="icon" type="image/png" sizes="32x32" href="https://ucarecdn.com/8667b014-947f-4948-be94-1c6e0a949e5b/favicon32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://ucarecdn.com/e99ec89d-26d8-4e5f-9e36-9998de8c94c1/favicon16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://ucarecdn.com/8531b376-27ae-4f21-bf74-78be1af0a0d5/appletouchicon.png">
  {% include "_custom_font.html" %}
  {% include "_custom_css.html" %}
  <link rel="stylesheet" href="/main.css">
  {% block head %}{% endblock head %}
  {% include "_head_extend.html" %}
</head>

<body class="{% block page %}{% endblock page%}{% if config.extra.force_theme == "dark" %}dark{% endif %}">
  {% if not config.extra.force_theme %}
  <script>
    const theme = sessionStorage.getItem('theme');
    const match = window.matchMedia("(prefers-color-scheme: dark)").matches
    if ((theme && theme == 'dark') || (!theme && match)) {
      document.body.classList.add('dark');
      const hl = document.querySelector('link#hl');
      if (hl) hl.href = '/hl-dark.css';
    }
  </script>
  {% endif %}
  {% block content %}{% endblock content %}
  {% block script %}{% endblock script %}
  <script src="/js/main.js"></script>
</body>

</html>
